Repository teksi/district_heating, pull requests merged in 2024-05, with the labels that each got.

#28 Make executables executable
  datamodel/scripts/change_owner.sh
  datamodel/scripts/run-docker.sh
  datamodel/scripts/setup.sh
  scripts/banned-words.sh
Labels: bug, datamodel, CI/CD

#29 Make docker shell file executable
  datamodel/.docker/init_db.sh
Labels: CI/CD

#24 Adapt database extensions creations
  datamodel/.docker/init_db.sh
  datamodel/changelogs/0001/00_db_extensions.sql
  datamodel/scripts/setup.sh
  scripts/banned-words.sh
Labels: enhancement, datamodel

#30 [WIP] Fix database dump CI Workflow
  datamodel/12_0_roles.sql
  datamodel/12_1_roles.sql
  datamodel/app/create_app.py
  datamodel/scripts/create-dumps.py
  datamodel/scripts/setup.sh
  datamodel/test/static_tests.sh
  datamodel/test/test_geometry.py
  datamodel/test/test_schemas.py
  datamodel/test/utils.py
Labels: CI/CD, fix
